name: markdown-linter
on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
jobs:
  build:
    runs-on: ubuntu-latest
    name: run remark lint
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v3
        with:
          version: 9
      - uses: actions/setup-node@v4
        with:
          node-version-file: ".node-version"
          cache: 'pnpm'
      - run: pnpm install
      - run: pnpm run lint
